<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>¡Reservación Exitosa!</h1>
      <p>Tu reservación para el evento <%= @evento.nombre %> ha sido confirmada.</p>
    </div>
  </div>
</div>
