<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
  <h1>Confirmaci贸n de reservaci贸n</h1>
  <p>Hola <%= @reservation.nombre %>,</p>
  <p>Tu reservaci贸n ha sido confirmada para el evento.</p>
  <p>Detalles de la reserva:</p>
  <ul>
    <li>Nombre del evento: <%= @evento.nombre %></li>
    <li>Fecha y hora: <%= @evento.fecha %></li>
    <li>Descripci贸n: <%= @evento.descripcion %></li>
  </ul>
</body>
</html>
